/* Header */

/* Navbar styles */

.navbar-black {
    border-bottom: 3px solid #000;
    /* Customize the color and thickness */
    margin-bottom: 20px;
    /* Adjust the spacing as needed */
}

.dropdown-menu {
    left: -150px;
}

.lower-container {
    margin-top: 50px;
}

/* General styles */

.text-white {
    color: rgb(199, 199, 199);
}

.horizontal-list {
    display:flex;
    list-style-type: none;
    padding: 0;
    justify-content: space-evenly;
}

.horizontal-list li {
    margin: 0 10px;
}

.list-style-none{
    list-style: none;
}

i{
    font-size: 150%;
}

.cyber-bullying-section p{
    margin-bottom: 75px;
}
.cyber-bullying-section img{
    margin-bottom: 75px;
}

/* Background images */

/* Used coders coffee house for reference */
.welcome-container {
    /*height: 100vh;*/

    background: url("../images/person-using-laptop.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    display: flex;
    position: relative;
    justify-content: center;

}

/* Used coders coffee house for reference */
.opaque-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
}

.jumbotron {
    background-color: transparent;
}

.jumbotron-header {
    font-weight: bold;
}


.section-harassment{
    justify-content: right;
}

/* Block dividers */

.block-divider--sm {
    width: 60px;
    height: 1px;   
}

.block-divider--md {
    width: 200px;
    height: 2px;   
}

/*.block-divider--lg{
    width: 900px;
}*/

.block-divider--black{
    color: #303030;
    background-color: #303030;
}

.block-divider--white{
    color: #ffffff;
    background-color: #ffffff;
}

.block-divider--gray{
    color: #ffffff;
    background-color: #ffffff;
}

/* Media queries */

@media only screen and (min-width: 658px) {

    /* Navbar styles */

    .dropdown-menu {
        left: -100px;
    }
}

@media only screen and (min-width: 768px) {

    /* Navbar styles */

    .dropdown-menu {
        left: -150px;
    }

    /* Email-social and Device Security page */

    #headerimage {
        max-width: 700px;
        display: flex;
        justify-content: center;
        margin: auto;
    }
}

@media only screen and (min-width: 880px) {

    /* Navbar styles */

    .dropdown-menu {
        left: -100px;
    }
}

@media only screen and (min-width: 992px) {

    /* Navbar styles */

    .dropdown-menu {
        left: -150px;
    }
}

@media only screen and (min-width: 1050px) {

    /* Navbar styles */

    .dropdown-menu {
        left: -125px;
    }
}

/* Footer */

/* Password Security Page------------> */

.fake-hr {
    border-bottom: 1px solid lightgrey; 
    padding-bottom: 20px;
}

/* Email-social and Device Security page */

