
/* Navbar styles */

.navbar-black {
    border-bottom: 3px solid #000; /* Customize the color and thickness */
    margin-bottom: 20px; /* Adjust the spacing as needed */
}

.dropdown-menu {
    left: -150px;
}

/* General styles */

.text-white{
    color: rgb(199, 199, 199);
}


/* Background images */

.smart-bg-img { 
    height: 100vh;

    background: url("../images/online-safety.jpg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
  }

  .opaque-overlay{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.4);
  }

  /* Block dividers */

  .block-divider--med{
    width: 60px;
    height: 2px;
    color: #000;
    background-color: #000;
  }

/* Media queries */

@media only screen and (min-width: 658px) {

    /* Navbar styles */

    .dropdown-menu {
        left: -100px;
    }
}

@media only screen and (min-width: 768px) {

    /* Navbar styles */

    .dropdown-menu {
        left: -150px;
    }
}

@media only screen and (min-width: 880px) {

    /* Navbar styles */

    .dropdown-menu {
        left: -100px;
    }
}

@media only screen and (min-width: 992px) {

    /* Navbar styles */

    .dropdown-menu {
        left: -150px;
    }
}

@media only screen and (min-width: 1050px) {

    /* Navbar styles */
    
    .dropdown-menu {
        left: -125px;
    }
}

/* Footer */

